<%- include("partials/header"); -%>
  <h1>Home</h1>
  <h1 style="color: #333; font-size: 28px; text-align: center;">Welcome back, Suraj..!</h1>
  <div style="text-align: center; margin-top: 30px;">
    <a href="/compose"
      style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Create
      New Post</a>
  </div>

  <div style="background-color: #f7f7f7; padding: 20px; margin-top: 30px;">
    <h3 style="color: #333;">Recent Blog Posts</h3>
    <ul style="list-style: none; padding-left: 0;">
      <% posts.forEach(function(post){ %>
        <li>
          <h2 style="color: #007bff; margin-bottom: 5px;">
            <%=post.title%>
          </h2>
          <p>
            <%=post.content.substring(0, 100) + " ..." %>
              <a href="/posts/<%=post.title%>">Read More</a>
          </p>
          <p style="font-size: 14px; color: #777;" class="publish-date"></p>
        </li>
        <% }) %>
        <li>
          <h2 style="color: #007bff; margin-bottom: 5px;">
            <%=dPosts[0].title%>
          </h2>
          <p>
            <%=dPosts[0].content.substring(0, 100) + " ..." %>
              <a href="/blogs/blogging">Read More</a>
          </p>
          <p style="font-size: 14px; color: #777;"class="publish-date"></p>
        </li>
        <li>
          <h2 style="color: #007bff; margin-bottom: 5px;">
            <%=dPosts[1].title%>
          </h2>
          <p>
            <%=dPosts[1].content.substring(0, 100) + " ..." %>
              <a href="/blogs/react-vs-angular">Read More</a>
          </p>
          <p style="font-size: 14px; color: #777;" class="publish-date"></p>
        </li>
        <li>
          <h2 style="color: #007bff; margin-bottom: 5px;">
            <%=dPosts[2].title%>
          </h2>
          <p>
            <%=dPosts[2].content.substring(0, 100) + " ..." %>
              <a href="/blogs/springboot">Read More</a>
          </p>
          <p style="font-size: 14px; color: #777;" class="publish-date"></p>
        </li>
        
    </ul>
  </div>

  <div style="text-align: center; margin-top: 30px;">
    <a href="/compose"
      style="background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 4px;">Create
      New Post</a>
  </div>
  <%- include("partials/footer"); -%>